<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Здесь можно зарегаться</title>
    <link rel='stylesheet' href='{{ url_for("static", filename="style.css") }}'>
</head>
<body>
    <div class='auth'>
        <h2>Регистрация</h2>
        <form action="" method="post">
            <input type="text" name="login" placeholder="Ваш логин">
            <input type="password" name="password" placeholder="Ваш пароль">
            <input type="submit" value="Регистрируй меня">
        </form>
    </div>
</body>
</html>
