{% extends "layout.html" %}
{% block title %}
Роскомдозор. Главная
{% endblock %}
{% block body %}
    <h2 style="text-align: center; margin-top: 17%; color: white;">ДОБРО ПОЖАЛОВАТЬ В  ФИЛЬМО<b>ТЕКУ</b></h2>
    <h5 style="text-align: center; color: white">Инструмент запоминания фильмов, созданный специально для вас</h5>

    <div style="position: fixed; bottom: 0; left: 0; right: 0; width: auto; height: 24px; color: black;">
        <a href="/file/swear.txt" style="font-size: 0.8em; color: #b3fcff">Клятва РосКомДозору!</a>
    </div>
{% endblock %}

