{% extends "layout.html" %}
{% block title %}Страница провайдера{% endblock %}
{% block body %}
    <div style="padding-left: 10px; margin-top: 20px;">
        <h3 style="color: white;">Здравствуйте, {{ name }}!</h3>
        <br>
        {% if resources %}
        <p style="color: white;">Ваши просмотренные фильмы:</p>
        <ul>
        {% for res in resources %}
            <li style="color: white;">{{ res[1] }}</li>
        {% endfor %}
        </ul>
        {% else %}
        <h5 style="color: white;">Вы еще не добавляли фильмы? Пора бы начать ;)</h5>
        {% endif %}
        <br />
        <p style="color: white" class="lead">добавить фильм</p>
        <form method="post" action="/add">
            <label style="color: white;">Введите название фильма:
            <input type="text" style="width: 30%" name="name" placeholder="vk.com/lol">
            <label style="color: white;">Добавить фильм в общий поиск при его отсутствии?
            <input type="checkbox" name="searchable" value="1">
            </label>
            <input type="submit" class="button warning" value="Добавить">
        </form>
    </div>
{% endblock %}